<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.mapper.BoardMapper">
<!--    id : mapper interface에 있는 함수 이름-->
<!--    resultType : BoardDTO 클래스 경로
(application.properties에서 dto location 설정해서 파일 이름만 써도 됨-->
    <select id="selectByPageAndKeyword" resultType="BoardDTO">
        SELECT * FROM tbl_board
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'content'">
                        content LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'writer'">
                        writer LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY bno DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="countByKeyword" resultType="int">
        SELECT COUNT(*) FROM tbl_board
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'content'">
                        content LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'writer'">
                        writer LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="selectAll" resultType="com.example.demo1.dto.BoardDTO">
        select * from tbl_board
    </select>
    <select id="selectOne" resultType="BoardDTO">
        select * from tbl_board where bno=#{bno}
    </select>
    <insert id="insert">
        insert into tbl_board(title, content, writer) values(#{title}, #{content}, #{writer})
    </insert>
    <update id="update">
        update tbl_board set title=#{title}, content=#{content}, writer=#{writer} where bno=#{bno}
    </update>
    <delete id="delete">
        delete from tbl_board where bno=#{bno}
    </delete>
    <update id="visitCountUpdate">
        update tbl_board set visitcount=visitcount + 1 where bno=#{bno}
    </update>
</mapper>